:root {
  --vp-c-brand-1: #daa04a;
  --vp-c-brand-2: #df3259;
  --vp-c-brand-3: #a0213e;

  --vp-button-brand-active-bg: var(--vp-c-brand-3);

}

img {
    -webkit-box-shadow: 2px 5px 15px 3px rgba(0, 0, 0, 0.74);
    box-shadow: 2px 5px 15px 3px rgba(0, 0, 0, 0.74);
}

img[no-shadow] {
  -webkit-box-shadow: none;
  box-shadow: none;
}

img[center] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
