main {
  display: flex;
  gap: 3rem;

}

main .content-wrap {
  flex: 1;
  min-width: 0;
  width: 100%;

  padding: 0 5em;
}

#theme-toggle {
  display: none;
}

img {
    -webkit-box-shadow: 2px 5px 15px 3px rgba(0, 0, 0, 0.74);
    box-shadow: 2px 5px 15px 3px rgba(0, 0, 0, 0.74);
}

img[no-shadow] {
  -webkit-box-shadow: none;
  box-shadow: none;
}

img[center] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#menu-bar {
  border-bottom: 1px solid var(--table-border-color);
}
