@media only screen and (max-width:1439px) {
    .sidetoc {
        display: none;
    }
}

@media only screen and (min-width:1440px) {
    main {
        position: relative;
    }

    .sidetoc {
      width: 15em;
    }

    .pagetoc {
        position: fixed;
        height: calc(100vh - var(--menu-bar-height) - 0.67em * 4);
        overflow: auto;

        padding-right: 10px;
        font-size: 1.3rem;
    }
    .pagetoc-padding {
      padding: 0.5em;
      border-left: 1px solid var(--table-border-color);
    }

    .pagetoc a {
        border-left: 1px solid var(--table-border-color);
        color: var(--fg) !important;
        display: block;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 10px;
        text-align: left;
        text-decoration: none !important;
    }
    .pagetoc a:hover,
    .pagetoc a.active {
        color: var(--sidebar-active) !important;
    }
    .pagetoc .active {
        color: var(--sidebar-active);
    }
    .pagetoc .pagetoc-H2 {
        padding-left: 20px;
    }
    .pagetoc .pagetoc-H3 {
        padding-left: 40px;
    }
    .pagetoc .pagetoc-H4 {
        padding-left: 60px;
    }
    .pagetoc .pagetoc-H5 {
        display: none;
    }
    .pagetoc .pagetoc-H6 {
        display: none;
    }
}
